

body{
    position: relative;
    font-family: 'Atma', Courier, monospace;
    font-weight: 400;
    background-image: url('../imgs/background-02.jpeg');
    height: 100%;
    width: 100vw;

}

.logo{
    height: 7rem;
    width: 12rem;
    padding-left: 15px;
    padding-top: 15px;
}
.topheader{
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 241, 191);
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-top: 15px;
    font-weight: 600;
    max-width: 2700px;
}
.icon{
    position: fixed;
    bottom: 120px;
    right: 23px;
    font-size: 30px;
    background-color: aquamarine;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.fa-whatsapp:before {
    content: "\f232";
    padding-left: 11px;
}
ul.menu{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 25px;
    font-size: 20px;
    
}
.menu li{
    margin: 25px;
    transition: 0.4s ease-in-out;
    color: #fff;
    
}
.fa-brands, .fab{
    width: 55px;
}
.menu li a:hover{
    background-color: rgb(85, 225, 235);
    color: rgb(255, 171, 60);
    border-radius: 20px;
}

.container-slider{
    display: flex;
    max-width: 1800px;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    border-radius: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}

@media (min-width: 1950px){
    .container-slider{
   
        padding-left: 100px;
    }
    
}
@media (min-width: 2150px){
    .container-slider{
       
        padding-left: 340px;
    }
    
}

@media (min-width: 2450px){
    .container-slider{
       
        padding-left: 560px;
    }
    
}
.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.slider {
    opacity: 0;
    transition: opacity 2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on{
    opacity: 1;
}

#prev-button, #next-button {
    padding-right: 0px;
    margin-right: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}

#prev-button {
    transform: rotate(180deg);
    position: left;
}


.instagram i{
    font-size: 30px;
    padding-left: 22px;
} 

.intro{
    display: flex;
    max-width: 2220px;
    max-height: 1050px,;
    justify-content: center;
    align-items: center;
}

.intro img{
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 20px;
}

.contato-1{
    display: flex;
    justify-content: center;
    background-color: rgb(250, 241, 191);
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 40px;
    box-shadow: 10px 13px 23px 43px rgb(217, 252, 241);
}
.intro-left{
    padding-left: 100px;
  
}
.intro-right{
    padding-left: 140px;
    
} 

.lema{
    display: flex;
    width: 99%;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    border-radius: 30px;
}
.corpo-lema{
    display: flex;
    justify-content: center;
    width: 100%;
}
.img-lema img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  height: 80vh;
}

.lema-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    max-width: 100%;    
    filter: drop-shadow(5px 5px 6px #fff);
}

.sub-lema{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: center;
    padding-bottom: 60px;
}
.txt-lema{
    max-width: 2200px;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    font-weight: 600;
    font-size: 35px;
    color: rgb(23, 220, 238);

}

.txt-lema p{

    width: 1000px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 236);
    filter: drop-shadow(1px 2px 2px rgb(252, 205, 51));
    border-radius: 50px;
    padding: 15px;
}
.rodape{
    padding-top: 60px;
    display: flex;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 241, 191);
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 30px;
    box-shadow: 10px 13px 23px 43px rgb(217, 252, 241);
}
.logo-footer img{
    width: 180px;
    height: 150px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.contato-footer p{
    color: rgb(255, 171, 60);
}

.endereco-footer{
    max-width: 550px;
    padding-right: 30px;
}
.me{
    display: flex;
    align-items: center;
    justify-content: center
    
}